+<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foreria</title>
</head>
<body>

<br><br><br>
      <h1> Floreria <h1>   
<br>

<form action="/guardar" method="POST">

    <input type="text" name ="txtflor" placeholder="escribe flor">
    <input type="text" name="txtcantidad" placeholder="escribe cantidad	">
    <input type="number" name="txtprecio" placeholder="escribe precio	">

    <button type="submit" >Guardar</button>


</form>    
</body>




</html>