<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floreria</title>
</head>
<body>

<br><br><br>
      <h1>Gestion de Floreria <h1>  

        <br>
        {% with mensajes= get_flashed_messages() %}
           {%if mensaje %}
            {% for msj in mensajes %}
          <h3> {{msj}} </h3>
            {%endfor%}
           {%endif%}
        {% endwith %} 
        <br>

<form action="/guardar" method="POST">

    <input type="text" name ="txtTitulo" placeholder="escribe flor">
    <input type="text" name="txtArtista" placeholder="escribe cantidad	">
    <input type="number" name="txtAnio" placeholder="escribe precio	">

    <button type="submit" >Guardar</button>


</form>    
<br>
<br>
<table>
<h1>Guardar Floreria </h1>
 
 <thead>
   <tr>
    <td>id: </td>
    <td>: </td>
    <td>: </td>
    <td>: </td>
   </tr>
 </thead>
 
   <tbody>
    {% for alb in  %}
     <tr>
      <td>{{alb.0}} </td>
      <td>{{alb.1}} </td>
      <td>{{alb.2}} </td>
      <td>{{alb.3}} </td>
      <td>
        <a href=/editar/{{alb.0}}> editar </a>
        <a href= "#" > borrar </a>
      </td>
     </tr>
    {%endfor%}
    <table>
   </tbody>

</body>

</html>